.App{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div{
  z-index: 2;
}

#quote-box{
  background-color: gray;
  border-radius: 5px;
  position: relative;
  width: 450px;
  padding: 40px 50px;
  display: table;
}

.quote-text{
  font-size: 1.75em;
  text-align: center;
}

.quote-author{
  font-size: 1em;
  text-align: right;;
}

.buttons{
  display: block;
  margin-top: 30px;
}

button, a {
  border-radius: 8px;
  
  padding: 0.6em 1.2em;
  width: fit-content;
  font-weight: 500;
  
  border-color: black;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
}

button{
  float: right;
  border: 1px solid transparent;
}

a{
  float:left;

}